* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BGCOLOR-HUE: 220.2;
    --MAIN-SAT: 40%;
    --MAIN-LIGHT: 80%;
    --CONTRAST-COLOR-HUE: calc(var(--BGCOLOR-HUE) + 180);
    --CONTRAST-SAT: var(--MAIN-SAT);
    --CONTRAST-LIGHT: calc(var(--MAIN-LIGHT)/7);
    --BGCOLOR: hsl(var(--BGCOLOR-HUE), var(--MAIN-SAT), var(--MAIN-LIGHT));
    --BGCOLOR-DIM: hsl(var(--BGCOLOR-HUE), calc(var(--MAIN-SAT) - 20%), var(--MAIN-LIGHT));
    --CONTRAST-COLOR: hsl(var(--CONTRAST-COLOR-HUE), var(--CONTRAST-SAT), var(--CONTRAST-LIGHT));
    --CONTRAST-COLOR-DIM: hsla(var(--CONTRAST-COLOR-HUE), var(--CONTRAST-SAT), var(--CONTRAST-LIGHT), 0.8);
    --CONTRAST-COLOR-DIMER: hsla(var(--CONTRAST-COLOR-HUE), var(--CONTRAST-SAT), var(--CONTRAST-LIGHT), 0.4);
    --HEADER_HEIGHT: 2rem;
    --SMALL-WINDOW-HEIGHT: 100svh;
    --LARGE-WINDOW-HEIGHT: 100lvh;

    scroll-behavior: smooth;
    min-height: 100vh;
}

.darkmode {
    --CONTRAST-LIGHT: 90%;
    --MAIN-LIGHT: calc(var(--CONTRAST-LIGHT)/5);
}

html {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: var(--CONTRAST-COLOR);
    background-color: var(--BGCOLOR);
    padding: 1rem 0.3rem;
    min-height: 100vh;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobile-wrapper{
    position: fixed;
    bottom: 0;
    overflow: hidden;
    max-height: 100vh;
    padding-top: calc(100vh - 97svh);
}

.mobile-scrollable-wrapper{
    position: relative;
    bottom: 0;
    overflow-y: scroll;
    touch-action: manipulation;
    max-height: 97svh;
    padding-right: 0.5rem;
    scroll-behavior: smooth;
}

button, input, textarea, select, fieldset{
    font: inherit;
    color: inherit;
    background-color: inherit;
    border: 1px solid var(--CONTRAST-COLOR-DIM);
    border-radius: 0;
}

button, input, textarea, select{
    background-color: var(--BGCOLOR-DIM);
}

button:active,
input:active,
textarea:active{
    outline: 4px solid var(--CONTRAST-COLOR);
    outline-offset: -5px;
}

button:focus,
input:focus,
textarea:focus{
    outline: 2px solid var(--CONTRAST-COLOR);
}

h1,
h2{
    font-size: 1.5rem;
    height: var(--HEADER_HEIGHT);
    padding: 0 0.5rem;
    background-color: var(--BGCOLOR);
}

h1{
    margin-bottom: 0.8rem;
}

h2{
    border: 1px solid var(--CONTRAST-COLOR-DIMER);
    border-bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

section{
    border: 1px solid var(--CONTRAST-COLOR-DIMER);
    border-top: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem; 
    scroll-margin-top: 12rem;
}

section p{
    line-height: 1.5;
}

fieldset{
    display:grid;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: var(--CONTRAST-COLOR-DIM);
}

.flex-grid{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-grid>:first-child{
    flex-basis: 400px;
    flex-grow: 1;
}

.flex-grid>:last-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 400px;
    flex-grow: 1;
}

ul{
    list-style-type: none;
}

svg{
    fill: var(--CONTRAST-COLOR);
}

svg:hover {
    fill: var(--CONTRAST-COLOR-DIM);
}

.stickyTopHeader {
    top: calc(var(--coutFromTop) * var(--HEADER_HEIGHT))
}

.stickyBottomHeader {
    bottom: calc(var(--coutFromBottom) * var(--HEADER_HEIGHT))
}

.header-icon{
    position: absolute;
    max-height: 80%;
    margin-top: 0.2rem;
    z-index: 2;
    left: 88%;
}

.header-icon.animated{
    transition: transform 0.1s ease-in-out;
    transform-origin: center top;
    transition: -webkit-transform 0.1s ease-in-out;
    -webkit-transform-origin: center top;
}

.header-in-view .header-icon.animated{
    transform: scale(2);
    -webkit-transform: scale(2);
}

/* to make room for scaling icon */
main section{
    padding-top: 2rem;
}